@model List<Model.EntityFramework.Customer>
@using Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Người Mua</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="widget widget-pie-chart">
            <div class="widget-body clearfix">
                <!-- new row -->
                @using (Html.BeginForm("Index", "NguoiMua", FormMethod.Post))
                {

                    <header class="widget-header">
                        <h6 class="widget-title">Tìm kiếm</h6>
                    </header>
                    <hr class="widget-separator" />
                    <div class="col-xs-6 col-sm-4 col-md-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên người mua</label>
                            <input class="form-control" id="exampleInputEmail1" placeholder="Tên người mua" name="TenNguoiMua">
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại</label>
                            <input class="form-control" id="exampleInputEmail1" placeholder="Số điện thoại" name="SoDienThoai">
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email người mua</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email người dùng" name="EmailNguoiMua">
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3" style="margin-top:15px">
                        <div class="m-b-xl" style="padding: 18px">
                            <button type="submit" class="btn btn-primary btn-sm" style="padding: 8px">Tìm kiếm</button>
                            <button type="reset" class="btn btn-primary btn-sm" style="padding: 8px">Làm mới</button>
                        </div>
                    </div>

                }
            </div><!-- .widget -->
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách người mua</strong>
                    </div>
                    @*<div class="m-b-xl pull-right" style="padding: 18px">
                        <input type="button" value="Xuất Excel" class="btn btn-primary btn-sm" style="margin-bottom: 10px; margin-left: 720px; margin-top: 10px"
                               onclick="location.href='@Url.Action("ExportExcel", "NguoiMua")'" />

                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ModalNhapExcel">Nhập Excel</button>


                    </div>*@
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Tên người dùng</th>
                                    <th>Loại người dùng</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.HoTen</td>
                                            <td>
                                                Người Mua
                                            </td>
                                            <td>
                                                @item.SoDienThoai
                                            </td>
                                            <td>@item.Email</td>


                                            @if (item.TrangThai)
                                            {
                                                <td>
                                                    Đang hoạt động
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    Đã khóa
                                                </td>
                                            }

                                            <td>
                                                <div id="button">
                                                    <div id="button1">
                                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal@(item.CustomerID)">Xử lý</button>
                                                    </div>
                                                    @*<div id="button2">
                                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalXemchitiet">Chi tiết</button>
                                                        </div>*@
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- Modal xử lý thông tin người dùng-->
                @foreach (var item in Model)
                {
                    <div class="modal fade" id="exampleModal@(item.CustomerID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                        <div class="modal-dialog" role="document" style="width: 450px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Thông tin đăng ký</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Tên người dùng: </p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.HoTen</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Loại người dùng: </p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>Người bán</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Số điện thoại:</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.SoDienThoai</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Địa chỉ email :</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.Email</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Địa chỉ liên lạc:</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.DiaChi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    @if (item.TrangThai == true)
                                    {
                                        using (Html.BeginForm("KhoaTaiKhoan", "NguoiMua", new { id = item.CustomerID }, FormMethod.Post))
                                        {
                                            <button type="submit" data-toggle="modal" class="btn btn-info btn-sm">Khóa tài khoản</button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("KichHoat", "NguoiMua", new { id = item.CustomerID }, FormMethod.Post))
                                        {
                                            <button type="submit" data-toggle="modal" class="btn btn-info btn-sm">Kích hoạt</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- Modal xác nhận đăng ký-->
                <div class="modal fade" id="exampleModalxacnhangiaohang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Xác nhận thông tin đăng ký</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="row form-group">
                                        <div class="col col-md-8"><label for="text-input" class=" form-control-label">Chứng minh nhân dân: </label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-8"><label for="email-input" class=" form-control-label">Upload biên bản đăng ký:</label></div>
                                        <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">hủy</button>
                                <button type="button" data-toggle="modal" class="btn btn-info btn-sm">Xác nhân</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Xem chi tiết -->
                @foreach (var item in Model)
                {
                    <div class="modal fade" id="exampleModalXemchitiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                        <div class="modal-dialog" role="document" style="width: 450px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Thông tin chi tiết người dùng</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Tên người dùng: </p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.HoTen</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Loại người dùng: </p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>Người mua</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Số điện thoại:</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.SoDienThoai</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Địa chỉ email :</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.Email</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-5">
                                                    <p>Địa chỉ liên lạc:</p>
                                                </div>
                                                <div class="col-sm-5" style="left: -55px">
                                                    <p>@item.DiaChi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    @if (item.TrangThai == true)
                                    {
                                        using (Html.BeginForm("KhoaTaiKhoan", "NguoiMua", new { id = item.CustomerID }, FormMethod.Post))
                                        {
                                            <button type="submit" data-toggle="modal" class="btn btn-info btn-sm">Khóa tài khoản</button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("KichHoat", "NguoiMua", new { id = item.CustomerID }, FormMethod.Post))
                                        {
                                            <button type="submit" data-toggle="modal" class="btn btn-info btn-sm">Kích hoạt</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="modal fade" id="ModalNhapExcel" tabindex="-1" role="dialog" aria-labelledby="ModalNhapExcel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Nhập File Excel</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("ImportExcel", "NguoiDung", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Chọn File:</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -55px">
                                                <input type="file" id="dataFile" name="upload" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm">Import</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .row -->
    </div> <!-- .content -->
</div><!-- /#right-panel -->
<!-- Right Panel -->


@section PluginCSS{
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/Admin/Admin/assets/css/button.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}

@section PLuginJS{
    <script src="~/Assets/Admin/Admin/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/assets/js/main.js"></script>


    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Assets/Admin/Admin/Admin/assets/js/init-scripts/data-table/datatables-init.js"></script>

}

