@model List<Model.ViewModel.CartItem>
@using Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Body tt-->
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/Assets/Customer/cozastore/index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>
</div>

@if (Model.Count > 0)
{
    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Sản phẩm</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Giá</th>
                                    <th class="column-4">Số lượng</th>
                                    <th class="column-5">Tổng giá</th>
                                    <th class="column-5"></th>
                                    <th class="column-6"></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="@HtmlHelperExtensions.ImageBookOrDefault(item.Sach.SachID,1)" alt="IMG"> <!-- Hình ảnh sản phẩm -->
                                            </div>
                                        </td>
                                        <td class="column-2">@item.Sach.TenSach</td> 			<!-- Tên sản phẩm -->
                                        <td class="column-3">@item.Sach.GiaTien.ToString("N0")</td> 						<!-- Giá sản phẩm -->
                                        <td class="column-4">
                                            <!-- Số lượng sản phẩm -->
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product txtQuantity" type="number" data-id="@item.Sach.SachID" value="@item.Quantity">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5">@((item.Sach.GiaTien * item.Quantity).ToString("N0"))</td> 						<!-- Tổng giá -->
                                        <td class="column-6"><button class="btn-delete" data-id="@item.Sach.SachID"><i class="zmdi zmdi-hc-2x zmdi-delete"></i></button></td>
                                    </tr>
                                }

                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <a href="@Url.Action("Index","Home")" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Tiếp tục mua hàng
                                </a>
                                <button id="btnDeleteAll" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Làm mới giỏ
                                </button>
                            </div>

                            <button id="btnUpdate" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Cập nhật lại
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <div class="flex-w flex-t p-t-15 p-b-30">
                            <div class="w-full-ssm" style="width: 50%">
                                <span class="stext-110 cl2">
                                    Tạm tính:
                                </span>
                            </div>

                            <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                                <p class="stext-111 cl6 p-t-2" style="float: right;">
                                    @ViewBag.TamTinh đ.
                                </p>
                            </div>

                            <div class="w-full-ssm" style="width: 50%">
                                <span class="stext-110 cl2">
                                    Giảm giá:
                                </span>
                            </div>

                            <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                                <p class="stext-111 cl6 p-t-2" style="float: right;">
                                    0 đ.
                                </p>
                            </div>
                            <hr style="width: 100%;border-top: 0.5px solid #000; margin: 5px; ">
                            <div class="w-full-ssm" style="width: 50%; margin: 5px 0;">
                                <span class="stext-110 cl2">
                                    Thành tiền:
                                </span>
                            </div>

                            <div class=" p-r-18 p-r-0-sm w-full-ssm" style="width: 50%; margin: 5px 0;">
                                <p class="stext-111 cl6 p-t-2" style="float: right; color: #ee2347; font-size: 19px; ">
                                    @ViewBag.ThanhTien đ.
                                </p>
                                <p class="stext-111 cl6 p-t-2" style="float: right">
                                    (Đã bao gồm VAT)
                                </p>
                            </div>
                        </div>
                        <a href="@Url.Action("Index","Payment")" class="flex-c-m stext-101 cl0 size-116 bor14 hov-btn3 p-lr-15 trans-04 pointer" style="background-color: #d63d3d">
                            Tiến hành đặt mua
                        </a>
                    </div>
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <div class="w-full-ssm" style="padding: 15px">
                            <span class="stext-110 cl2">
                                Mã giảm giá / Quà tặng:
                            </span>
                        </div>
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-10 m-r-8 m-tb-5" type="text" name="coupon" placeholder="Nhập tại đây" style="width: 140px">

                            <div class="flex-c-m stext-101 cl1 bor13 hov-btn2 p-lr-15 trans-04 pointer m-tb-5" style="min-width: 115px; height: 45px; background-color: #f9d803">
                                Đồng ý
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <div class="alert alert-danger" role="alert">
                                Giỏ hàng đang trống
                            </div>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                            </div>
                            <a href="/">
                                <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                    Quay về trang chủ
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <div class="flex-w flex-t p-t-15 p-b-30">
                            <div class="w-full-ssm" style="width: 50%">
                            </div>

                            <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                            </div>

                            <div class="w-full-ssm" style="width: 50%">
                            </div>

                            <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                            </div>
                            <hr style="width: 100%;border-top: 0.5px solid #000; margin: 5px; ">
                            <div class="w-full-ssm" style="width: 50%; margin: 5px 0;">
                            </div>

                            <div class=" p-r-18 p-r-0-sm w-full-ssm" style="width: 50%; margin: 5px 0;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
}





<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
@section PluginCSS
{
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Assets/Customer/cozastore/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/cozastore/css/main.css">
    <!--===============================================================================================-->
}

@section PluginJS
{
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Customer/cozastore/js/controller/cartController.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/bootstrap/js/popper.js"></script>
    <script src="/Assets/Customer/cozastore/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="/Assets/Customer/cozastore/js/main.js"></script>
}

