@model Model.EntityFramework.Sach
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MerchantArea/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Sửa thông tin sách</strong>
                    </div>
                    @using (Html.BeginForm("Edit", "BookManager", null, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card-body card-block">

                        @Html.HiddenFor(model => model.SachID)
                        @Html.HiddenFor(model => model.MerchantID)
                        @Html.HiddenFor(model => model.TrangThai)
                        @Html.HiddenFor(model => model.SoLuong)
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Tên Sách</label></div>
                            <div class="col-12 col-md-9">@Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })<small class="help-block form-text">@Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })</small></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Tác Giả</label></div>
                            <div class="col-12 col-md-9">@Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })<small class="help-block form-text">@Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })</small></div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">Nhà xuất bản</label></div>
                            <div class="col-12 col-md-9">
                                @Html.DropDownList("NhaXuatBanID", null, htmlAttributes: new { @class = "form-control" })
                                <small class="help-block form-text">@Html.ValidationMessageFor(model => model.NhaXuatBanID, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Ngày Xuất Bản</label></div>
                            <div class="col-12 col-md-9"><input type="date" value="@Model.NgayXuatBan.ToString("yyyy-MM-dd")" name="NgayXuatBan" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">Thể Loại</label></div>
                            <div class="col-12 col-md-9">
                                @Html.DropDownList("TheLoaiID", null, htmlAttributes: new { @class = "form-control" })
                                <small class="help-block form-text">@Html.ValidationMessageFor(model => model.TheLoaiID, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Số Trang</label></div>
                            <div class="col-12 col-md-9"><input type="number" name="SoTrang" class="form-control" value="@Model.SoTrang"></div>
                            <small class="help-block form-text">@Html.ValidationMessageFor(model => model.SoTrang, "", new { @class = "text-danger" })</small>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">Nhà xuất bản</label></div>
                            <div class="col-12 col-md-9">
                                @Html.DropDownList("LoaiBiaID", null, htmlAttributes: new { @class = "form-control" })
                                <small class="help-block form-text">@Html.ValidationMessageFor(model => model.LoaiBiaID, "", new { @class = "text-danger" })</small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Giá tiền</label></div>
                            <div class="col-12 col-md-9"><input type="number" name="GiaTien" class="form-control" value="@Model.GiaTien"></div>
                            <small class="help-block form-text">@Html.ValidationMessageFor(model => model.GiaTien, "", new { @class = "text-danger" })</small>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Giá khuyến mãi</label></div>
                            <div class="col-12 col-md-9"><input type="number" name="GiaKhuyenMai" class="form-control" value="@Model.GiaKhuyenMai"></div>
                            <small class="help-block form-text">@Html.ValidationMessageFor(model => model.GiaKhuyenMai, "", new { @class = "text-danger" })</small>
                        </div>


                        <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Mô tả</label></div>
                            <div class="col-12 col-md-9">@Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", @rows = 9 })</div>
                            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-primary" style="float:right">
                            <i class="fa fa-dot-circle-o"></i> Xác nhận
                        </button>
                        <button type="reset" class="btn btn-danger" style="float:right">
                            <i class="fa fa-ban"></i> Làm mới
                        </button>
                        <a class="btn btn-light" href="@Url.Action("Index","BookManager")">Quay lại</a>
                    </div>
                    }
                </div>
            </div>

        </div>


    </div><!-- .animated -->
</div><!-- .content -->

@section PluginCSS{

    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/normalize.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}

@section PluginJS{
    <script src="/Assets/Merchant/UI/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/Assets/Merchant/UI/assets/js/popper.min.js"></script>
    <script src="/Assets/Merchant/UI/assets/js/plugins.js"></script>
    <script src="/Assets/Merchant/UI/assets/js/main.js"></script>
}
