@model List<Model.EntityFramework.Sach>
@using Common
@using Model.EntityFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MerchantArea/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="widget widget-pie-chart">
            <div class="widget-body clearfix">
                @using (Html.BeginForm("Index", "BookManager"))
                {
                    <header class="widget-header">
                        <h4 class="widget-title">Quản lý kho sách</h4>
                    </header>
                    <hr class="widget-separator" />
                    <!-- new row -->
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Id sách</label>
                            <input name="searchId" type="text" class="form-control" id="exampleInputEmail1" placeholder="id sách">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên sách</label>
                            <input name="nameSach" type="text" class="form-control" id="exampleInputEmail1" placeholder="tên sách">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Loại sách</label>
                            @Html.DropDownList("dropDownTheLoai", null, "Chọn thể loại", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nhà xuất bản</label>
                            @Html.DropDownList("dropDownNXB", null, "Chọn nhà xuất bản", new { @class = "form-control" })
                        </div>
                        <div class="m-b-xl">
                            <button type="submit" class="btn btn-primary btn-sm" style="padding: 8px">Tìm kiếm</button>
                            <button type="reset" class="btn btn-primary btn-sm" style="padding: 8px">Làm mới</button>
                        </div>
                    </div>
                }

            </div><!-- .widget -->
        </div>


        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách sách</strong>
                    </div>


                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Thông tin sách</th>
                                    <th>Tồn kho</th>
                                    <th>Giá bán</th>
                                    <th>Hoa hồng KipXu</th>
                                    <th>Lợi nhuận</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p><font color="#CD090C"><b>@item.TenSach</b></font></p>
                                            <p>Mã sản phẩm: @item.SachID</p>
                                            <p>Thể loại: @item.TheLoai.TenTheLoai</p>
                                        </td>
                                        <td>@item.SoLuong</td>
                                        @if (item.GiaKhuyenMai == null)
                                        {
                                            <td>@item.GiaTien.ToString("N0")đ</td>
                                        }
                                        else
                                        {
                                            <td>@item.GiaKhuyenMai.GetValueOrDefault(0).ToString("N0") đ</td>
                                        }
                                        @if (item.GiaKhuyenMai == null)
                                        {
                                            <td>@((float)item.GiaTien * @ViewBag.TienHoaHong) đ</td>
                                        }
                                        else
                                        {
                                            <td>@((float)item.GiaKhuyenMai.GetValueOrDefault(0) * @ViewBag.TienHoaHong) đ</td>
                                        }
                                        @if (item.GiaKhuyenMai == null)
                                        {
                                            <td>@((float)item.GiaTien * (1 - @ViewBag.TienHoaHong)) đ</td>
                                        }
                                        else
                                        {
                                            <td>@((float)item.GiaKhuyenMai.GetValueOrDefault(0) * (1 - @ViewBag.TienHoaHong)) đ</td>
                                        }
                                        <td>
                                            <div class="form-group">
                                                @if (item.TrangThai == true)
                                                {
                                                    <span class="alert-primary">Trên tin</span>
                                                }
                                                else
                                                {
                                                    <span class="alert-dark">Đã ẩn</span>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div id="button">
                                                <div id="button1">
                                                    <li class="dropdown" style="list-style: none;">
                                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Xử lý</button>
                                                        <ul class="dropdown-menu" style="border-top-width: 33px;">
                                                            <li><a href="@Url.Action("Edit","BookManager",new { id=item.SachID})" class="btn-danger">Sửa sách</a></li>
                                                            <li><a href="/Assets/Merchant/UI/#" class="btn-success" data-toggle="modal" data-target="#ThemSach@(item.SachID)">Thêm số lượng sách</a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#NangSach@(item.SachID)" class="btn-warning">Nâng tin</a></li>
                                                            @if (item.TrangThai == true)
                                                            {
                                                                <li><a href="#" data-toggle="modal" data-target="#AnSach@(item.SachID)" class="btn-warning">Xóa tin</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </div>
                                                <div id="button2">
                                                    <button data-toggle="modal" data-target="#chiTiet@(item.SachID)" class="btn btn-warning btn-sm">Chi tiết</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }



                            </tbody>

                        </table>

                    </div>
                    <div><a href="@Url.Action("Create")" class="btn btn-success btn-lg btn-block">Tạo kho sách mới</a></div>
                </div>

                <!-- The Modal Nang Tin -- Then Sach-->
                @foreach (var item in Model)
                {
                    <div class="modal fade" id="NangSach@(item.SachID)">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Nâng tin</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                @if (@item.Merchant.SoLuongKIPXu < ViewBag.GiaNangTin)
                                {
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>
                                            <p>Hiện tại bạn còn: <b>@item.Merchant.SoLuongKIPXu</b> xu<br>Bạn không đủ xu để nâng tin cho sách @item.TenSach</p>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                }
                                else
                                {
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>
                                            <p>Hiện tại bạn còn: <b>@item.Merchant.SoLuongKIPXu</b> xu<br>bạn có chắc chắn muốn nâng tin cho sách @item.TenSach</p>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button class="btn btn-primary btnNangTin" data-num="@item.SachID" data-dismiss="modal">Xác nhận nâng tin bằng <b>10 xu</b></button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                }




                            </div>
                        </div>
                    </div>
                    


                    <div class="modal fade" id="ThemSach@(item.SachID)">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm số lượng cho sách @item.TenSach</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div>
                                        <p>Số lượng bạn muốn thêm</p>
                                        <input id="inp@(item.SachID)" type="number" class="form-control" />
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-primary btnThemSach" data-num="@item.SachID" data-dismiss="modal">Xác nhận thêm sách</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <!-- The Modal An Tin-->
                @foreach (var item in Model)
                {
                    <div class="modal fade" id="AnSach@(item.SachID)">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Xóa sách</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>
                                            <p>Bạn có chắc chắn muốn xóa tin</p>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a href="@Url.Action("AnTin","BookManager",new { id=item.SachID})" class="btn btn-primary btnNangTin" >Xác nhận xóa tin</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                }

                @*Modal chi tiet sach*@
                @foreach (var item in Model)
                {
                    <!-- The Modal -->
                    <div class="modal fade" id="chiTiet@(item.SachID)">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thông tin sách</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-lg-4">
                                                <img src="@HtmlHelperExtensions.ImageBookOrDefault(item.SachID,1)" alt="IMG-PRODUCT" style="width: 140px; height: 80px">
                                            </div>
                                            <div class="col-lg-4">
                                                <img src="@HtmlHelperExtensions.ImageBookOrDefault(item.SachID,2)" alt="IMG-PRODUCT" style="width: 140px; height: 80px">
                                            </div>
                                            <div class="col-lg-4">
                                                <img src="@HtmlHelperExtensions.ImageBookOrDefault(item.SachID,3)" alt="IMG-PRODUCT" style="width: 140px; height: 80px">
                                            </div>


                                        </div>
                                        <div class="card-body">
                                            <!-- Credit Card -->
                                            <div id="pay-invoice">
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <h3 class="text-center">@item.TenSach</h3>
                                                    </div>
                                                    <hr>
                                                    <form action="" method="post" novalidate="novalidate">
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Tác giả</label>
                                                            <p class="form-control">@item.TacGia</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Nhà xuất bản</label>
                                                            <p class="form-control">@item.NhaXuatBan.TenNXB</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Ngày xuất bản</label>
                                                            <p class="form-control">@item.NgayXuatBan.ToString("MM/yyyy")</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Số trang</label>
                                                            <p class="form-control">@item.SoTrang</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Loại bìa</label>
                                                            <p class="form-control">@item.LoaiBia.LoaiBia1</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Giá tiền</label>
                                                            <p class="form-control">@item.GiaTien.ToString("N0")</p>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-6">
                                                                <div class="form-group"><label class=" form-control-label">Giá tiền</label><p class="form-control">@item.GiaTien.ToString("N0")</p></div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label class=" form-control-label">Giá khuyến mãi</label>
                                                                    @if (item.GiaKhuyenMai != null)
                                                                    {
                                                                        <p class="form-control">@item.GiaKhuyenMai.GetValueOrDefault(0).ToString("N0")</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="form-control">Không có giá khuyến mãi</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-1">Mô tả</label>
                                                            <textarea class="form-control" rows="9" disabled> @item.MoTa</textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- .card -->
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                }



            </div>
            @*@for(int i=0;i<Model.Count();i++)
                {
                    <div id="SuaSach@(Model[i].SachID)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 style="margin-left: 200px">Sữa sách</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("Index", "BookManager", new { id=Model[i].SachID}))
                                    {
                                        <table>
                                            @Html.HiddenFor(model => Model[i].SachID)
                                            @Html.HiddenFor(model => Model[i].MerchantID)
                                            @Html.HiddenFor(model => Model[i].TrangThai)
                                            @Html.HiddenFor(model => Model[i].SoLuong)
                                            <tr>
                                                <td>Sách :</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    @Html.TextBoxFor(model => Model[i].TenSach, new { @class = "form-control", @style = "width: 300px; height: 40px", required = "required" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Tác giả :</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    @Html.TextBoxFor(model => Model[i].TacGia, new { @class = "form-control", @style = "width: 300px; height: 40px; margin-top: 20px" , required = "required" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Nhà xuất bản :</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    @Html.DropDownListFor(model => Model[i].NhaXuatBanID, new SelectList(ViewBag.listNXB, "NhaXuatBanID", "TenNXB", Model[i].NhaXuatBanID), new { @class = "form-control", @style = "width: 200px; height: 40px; margin-top: 20px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Ngày xuất bản :</td>
                                                <td>
                                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control" value="@Model[i].NgayXuatBan.ToString("yyyy-MM-dd")" style="width: 300px; height: 40px; margin-top: 20px" id="Model[i].NgayXuatBan" name="Model[i].NgayXuatBan" required>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Thể loại :</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    @Html.DropDownListFor(model => Model[i].TheLoaiID, new SelectList(ViewBag.listTheLoai, "TheLoaiID", "TenTheLoai", Model[i].TheLoaiID), new { @class = "form-control", @style = "width: 200px; height: 40px; margin-top: 20px", required = "required" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Số trang:</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    <input type="number" name="Model[i].SoTrang" id="Model[i].SoTrang" value="@Model[i].SoTrang" style="width: 300px; height: 40px; margin-top: 20px" class="form-control" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Loại bìa :</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    @Html.DropDownListFor(model => Model[i].LoaiBia, new SelectList(ViewBag.listBia, "LoaiBiaID", "LoaiBia1", Model[i].LoaiBiaID), new { @class = "form-control", @style = "width: 200px; height: 40px; margin-top: 20px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Giá tiền:</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    <input type="number" name="Model[i].GiaTien" id="Model[i].GiaTien" value="@Model[i].GiaTien" style="width: 300px; height: 40px; margin-top: 20px" class="form-control" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Giá khuyến mãi:</td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    <input type="text" name="Model[i].GiaKhuyenMai" id="Model[i].GiaKhuyenMai" value="@Model[i].GiaKhuyenMai" style="width: 300px; height: 40px; margin-top: 20px" class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-top: 20px">Mô tả:</td>
                                                <td class="col-xs-3 col-sm-1 col-md-1">
                                                    @Html.TextAreaFor(model => Model[i].MoTa, new { @class = "form-group", @style = "margin-top: 20px;width: 300px;height:500px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    <button type="Reset" class="btn btn-warning btn-sm" style="margin-left: 40px; margin-top: 30px">Nhập lại</button>
                                                </td>
                                                <td class="col-xs-6 col-sm-4 col-md-3">
                                                    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 30px">Lưu lại</button>
                                                </td>
                                            </tr>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }*@

        </div>
    </div><!-- .row -->
</div> <!-- .content -->

@section PluginCSS{
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Assets/Merchant/UI/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="/Assets/Merchant/UI/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Merchant/UI/assets/css/button.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

}

@section PluginJS{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Assets/Customer/cozastore/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Assets/Merchant/UI/assets/js/main.js"></script>


    <script src="/Assets/Merchant/UI/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/Assets/Merchant/UI/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/Assets/Merchant/UI/assets/js/init-scripts/data-table/datatables-init.js"></script>
    <script>
        var bookmanager = {
            init: function () {
                bookmanager.regEvents();
            },
            regEvents: function () {
                $('.btnNangTin').off('click').on('click', function () {
                    var idBook = $(this).data('num');

                    $.ajax({
                        url: '/BookManager/NangTin',
                        data: { id: idBook },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                alert("Nâng tin thành công!!!");
                            }
                        }
                    })
                });

                $('.btnThemSach').off('click').on('click', function () {
                    var idBook = $(this).data('num');
                    var numAdd = document.getElementById("inp" + idBook).value;

                    $.ajax({
                        url: '/BookManager/ThemSach',
                        data: { id: idBook, num: numAdd },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                alert("Thêm sách thành công!!!");
                                window.location.href = "/MerchantArea/BookManager/Index";
                            }

                        }
                    })
                });
            }
        }
        bookmanager.init();


    </script>
}
