@model Model.ViewModel.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity - Bootstrap Admin Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Admin, Dashboard, Bootstrap" />
    <link rel="shortcut icon" sizes="196x196" href="/Assets/Customer/cozastore/images/icons/logo-01.png">

    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/libs/bower/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/libs/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/assets/css/core.css">
    <link rel="stylesheet" href="/Assets/Admin/Infinity-v2.0.0/assets/css/misc-pages.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
</head>

<body class="simple-page" style="background-color:whitesmoke">
    <div id="back-to-home">
        <a href="@Url.Action("Index","ADHome")" class="btn btn-outline btn-default"><i class="fa fa-home animated zoomIn"></i></a>
    </div>
    <div class="simple-page-wrap">
        <div class="simple-page-logo animated swing">
            <a href="index.html">
                <span>Web Master KnowledgeStore</span>
            </a>
        </div><!-- logo -->
        <div class="simple-page-form animated flipInY" id="login-form">
            <h4 class="form-title m-b-xl text-center">Đăng nhập Web Master</h4>
            @using (Html.BeginForm("Login", "AccountsAdmin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @*<input id="sign-in-email" type="email" class="form-control" placeholder="Email">*@
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Tên đăng nhập" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*<input id="sign-in-password" type="password" class="form-control" placeholder="Password">*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-b-xl">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="keep_me_logged_in" />
                        <label for="keep_me_logged_in">Keep me signed in</label>
                    </div>
                </div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <input type="submit" class="btn btn-primary" value="Đăng nhập">
            }

        </div><!-- #login-form -->
        <div class="simple-page-footer">
            @*<p><a href="password-forget.html">Quên mật khẩu ?</a></p>*@
            <p>
                <small>Don't have an account ?</small>
                <a href="@Url.Action("Register","AccountsAdmin")">Tạo tài khoản mới</a>
            </p>
        </div><!-- .simple-page-footer -->

    </div><!-- .simple-page-wrap -->
</body>
</html>
