@model List<Model.EntityFramework.ChiTietDonHang>
@using Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Đơn hàng</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="widget widget-pie-chart">
            @using (Html.BeginForm("Index", "DonHang"))
            {
                <header class="widget-header">
                    <h4 class="widget-title">Tìm kiếm</h4>
                </header>
                <hr class="widget-separator" />
                <div class="widget-body clearfix">
                    <!-- new row -->
                    <!-- new row -->
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã đơn hàng</label>
                            <input type="number" name="searchId" class="form-control" placeholder="Mã đơn hàng">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngày đặt</label>
                            <input type="date" value=@ViewBag.SearchTime name="searchTime" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Thông tin khách hàng</label>
                            <input type="text" name="nameCus" class="form-control" placeholder="Tên khách hàng">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            @Html.DropDownList("DropdownStatus", null, "Chọn tình trạng đơn", new { @class = "form-control" })
                        </div>
                        <div class="m-b-xl">
                            <button type="submit" class="btn btn-primary btn-sm" style="padding: 8px">Tìm kiếm</button>
                            <button type="reset" class="btn btn-primary btn-sm" style="padding: 8px">Làm mới</button>
                        </div>
                    </div>
                </div><!-- .widget -->
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh sách đơn hàng</strong>
                    </div>
                    <div class="m-b-xl pull-right" style="padding: 18px">
                        <input type="button" value="Xuất Excel" class="btn btn-primary btn-sm" style="margin-bottom: 10px; margin-left: 720px; margin-top: 10px"
                               onclick="location.href='@Url.Action("ExportExcel", "Donhang")'" />
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ModalNhapExcel">Nhập Excel</button>

                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Thông tin đặt hàng</th>
                                    <th>Ngày xử lý</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền(VNĐ)</th>
                                    <th>Lợi nhuận(VNĐ)</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ChiTietDonHangID</td>
                                        <td>
                                            <p>@item.DonHang.Customer.HoTen @item.DonHang.Customer.SoDienThoai</p>
                                            <p>@item.DonHang.Customer.DiaChi</p>
                                        </td>
                                        <td>
                                            <p>Ngày mua: @item.DonHang.NgayDat.ToString("dd/MM/yyyy")</p>
                                            @if (item.NgayXuat != null)
                                            {
                                                <p>Ngày giao: @item.NgayXuat.GetValueOrDefault(System.DateTime.MinValue).ToString("dd/MM/yyyy")</p>
                                            }
                                            else
                                            {
                                                <p>Ngày giao: Chưa được giao!!!</p>
                                            }
                                        </td>
                                        <td>@item.SoLuong x @item.Sach.TenSach</td>
                                        <td>@item.ThanhTien</td>
                                        <td>@((float)item.ThanhTien * ViewBag.HoaHong / 100)</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" disabled>@item.TinhTrangDonHang.TinhTrangDonHang1</button>
                                        </td>
                                        <td>
                                            <div>
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalXemchitiet">Chi tiết</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-r-18 p-r-0-sm w-full-ssm" style="width: 50%">
                                                @if (item.TinhTrangDonHangID == 2)
                                                {
                                                    <button type="button" data-toggle="modal" data-target="#exampleModal@(item.ChiTietDonHangID)" class="btn btn-info btn-sm">Xử lý</button>

                                                }
                                                else if (item.TinhTrangDonHangID == 3)
                                                {
                                                    <button type="button" class="btn btn-info btn-sm">Đang giao hàng</button>
                                                }
                                                else if (item.TinhTrangDonHangID == 4)
                                                {
                                                    <button type="button" class="btn btn-info btn-sm">Hoàn tất</button>
                                                }
                                                else if (item.TinhTrangDonHangID == 5)
                                                {
                                                    <button type="button" class="btn btn-info btn-sm">Thất bại</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-info btn-sm">Chờ xác nhận</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal xử lý đơn hàng-->
                @foreach (var item in Model)
                {


                    <div class="modal fade" id="exampleModal@(item.ChiTietDonHangID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 70px">
                        <div class="modal-dialog" role="document" style="width: 450px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Xử lý đơn hàng đang vận chuyển</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("DangGiaoHang", "DonHang", new { id = @item.ChiTietDonHangID }, FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <div class="row p-b-10">
                                                <div class="col-sm-10">
                                                    <p>Sách: </p>
                                                    <p>@item.Sach.TenSach</p>
                                                    <p>Số lượng:</p>
                                                    <p>@item.SoLuong quyển</p>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy giao hàng</button>
                                            <button type="submit" class="btn btn-info btn-sm">Xác nhận giao hàng</button>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>


                }

                @*----Modal nhap excel-----*@
                <div class="modal fade" id="ModalNhapExcel" tabindex="-1" role="dialog" aria-labelledby="ModalNhapExcel" aria-hidden="true" style="top: 70px">
                    <div class="modal-dialog" role="document" style="width: 450px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Nhập File Excel</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("ImportExcel", "Donhang", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <div class="row p-b-10">
                                            <div class="col-sm-5">
                                                <p>Chọn File:</p>
                                            </div>
                                            <div class="col-sm-5" style="left: -55px">
                                                <input type="file" id="dataFile" name="upload" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm">Import</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .row -->
    </div> <!-- .content -->
</div>


@section PluginCSS{
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="~/Assets/Admin/Infinity-v2.0.0/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/Infinity-v2.0.0/assets/css/button.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}

@section PLuginJS{
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/assets/js/main.js"></script>


    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Assets/Admin/Infinity-v2.0.0/assets/js/init-scripts/data-table/datatables-init.js"></script>
}

