@model List<Model.EntityFramework.LichSuGiaoDichXuCuaMerchant>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Quản lý Kip Xu</h1>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <p class="widget-title"><b>Giá trị xu</b></p>
                <hr size="5" width="1050px" style="height:1px; border:none; color:#333; background-color:#333 ">
                <div>
                    <table style="margin-left: 400px">
                        <tr>
                            <td class="fa fa-money" aria-hidden="true" style="margin-top: 5px; margin-right: 10px"></td>
                            <td>
                                <h3><b>1 Xu = </b></h3>

                            <td>
                                <h3>
                                    <font color="blue">
                                       @ViewBag.giatri
                                    </font>
                                </h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="content mt-3">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Lịch sử xu</strong>
                        </div>


                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tên Merchant</th>
                                        <th>Phương Thức Sử Dụng</th>
                                        <th>Ngày Giao Dịch</th>
                                        <th>Số Xu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Merchant.HoTen</td>
                                                <td>@item.PhuongThucSuDung</td>
                                                <td>@item.NgayGiaoDich</td>
                                                <td>@item.SoXu</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div><!-- .row -->
        </div> <!-- .content -->
    </div>

    @section PluginCSS{
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/selectFX/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/vendors/jqvmap/dist/jqvmap.min.css">


        <link rel="stylesheet" href="~/Assets/Admin/Admin/Admin/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    }

    @section PLuginJS{
        <script src="~/Assets/Admin/Admin/Admin/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/popper.js/dist/umd/popper.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/assets/js/main.js"></script>


        <script src="~/Assets/Admin/Admin/Admin/vendors/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/assets/js/dashboard.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/assets/js/widgets.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="~/Assets/Admin/Admin/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    }


